<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: site-head(pageTitle='Confirm Edit Distributor')">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="../../../static/css/bootstrap.css"/>
    <title>Confirm Edit Distributor</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{fragments/layout :: site-header}"></header>
    <div class="container mt-4">
        <form class="my-4" th:object="${distributorModel}" th:action="@{/distributors/edit/{id}/(id=${distributorModel.id})}" th:method="post">
            <h2 class="text-center" th:text="'Validation Modification of Distributor ID: '+${distributorModel.id}"></h2>
            <div class="form-group">
                <label for="user">Reference User ID</label>
                <input type="text" class="form-control"
                       id="user" name="product" th:field="*{user}" readonly/>
            </div>
            <div class="form-group">
                <label for="organization">Reference Organization ID</label>
                <input type="text" class="form-control"
                       id="organization" name="organization" th:field="*{organization}" readonly/>
            </div>
            <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control"
                       id="fullName" name="fullName" th:field="*{fullName}" readonly/>
            </div>
            <div class="text-center">
                <button type="submit" name="action" value="return" class="btn btn-secondary"><i
                        class="fas fa-chevron-circle-left"></i> Return
                </button>
                <button type="button" data-toggle="modal" th:attr="data-target='#'+${distributorModel}"
                        class="btn btn-primary"><i class="fas fa-check-circle"></i> Validate
                </button>
            </div>
            <div class="modal fade" th:id="${distributorModel}" tabindex="-1" role="dialog"
                 aria-labelledby="deleteUserLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteUserLabel">This action can't be undone</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure to save this distributor?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button name="action" value="save" class="btn btn-primary" type="submit"
                            >Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <footer th:replace="~{fragments/layout :: site-footer}"></footer>
</div>
</body>
</html>