<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: site-head(pageTitle='Create Premium')">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="../../../static/css/bootstrap.css"/>
    <title>Create Premium</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{fragments/layout :: site-header}"></header>
    <div class="container mt-4">
        <form class="my-4" th:object="${premiumModel}" th:action="@{/premiums/create/contract/{id}(id=${premiumModel.cntrctId})}" method="post">
            <h2>Create Premium</h2>
            <div class="form-group">
                <label for="startDate">Premium Start Date</label>
                <input class="form-control" type="date" id="startDate" name="startDate" th:field="*{startDate}" readonly>
            </div>
            <div class="form-group" >
                <label for="endDate">Premium End Date</label>
                <input class="form-control" type="date" id="endDate" name="endDate" th:field="*{endDate}" readonly>
            </div>
            <div class="form-group">
                <label for="operationAmount">Premium Amount(in EUR)</label>
                <input type="number" class="form-control"
                       id="operationAmount" name="operationAmount" th:field="*{operationAmount}" readonly/>
            </div>
            <div class="text-center">
                <button type="submit" name="action" value="return" class="btn btn-secondary"><i
                        class="fas fa-chevron-circle-left"></i> Return
                </button>
                <button type="button" data-toggle="modal" th:attr="data-target='#'+${premiumModel}"
                        class="btn btn-primary"><i class="fas fa-check-circle"></i> Validate
                </button>
            </div>
            <div class="modal fade" th:id="${premiumModel}" tabindex="-1" role="dialog"
                 aria-labelledby="deleteUserLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteUserLabel">This action can't be undone</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure to create this money in?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button name="action" value="save" class="btn btn-primary" type="submit"
                            >Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<footer th:replace="~{fragments/layout :: site-footer}"></footer>
</body>
</html>