<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: site-head(pageTitle='Confirm Edit Organization')">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="../../../static/css/bootstrap.css"/>
    <title>Confirm Edit Organization</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{fragments/layout :: site-header}"></header>
    <div class="container mt-4">
        <form class="my-4" th:object="${organizationModel}"
              th:action="@{/organizations/edit/{id}/(id=${organizationModel.id})}" th:method="post">
            <h2 class="text-center" th:text="'Validation Modification for Organization ID: '+${organizationModel.id}"></h2>
            <div th:replace="~{fragments/common-organization :: common-organization-confirm}"></div>
        </form>
    </div>
    <footer th:replace="~{fragments/layout :: site-footer}"></footer>
</div>
</body>
</html>