<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: site-head(pageTitle='View Product')">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="../../../static/css/bootstrap.css"/>
    <title>Information for Product</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{fragments/layout :: site-header}"></header>
    <div class="container mt-4">
        <form class="my-4" th:object="${productModel}" th:action="@{/products}">
            <h2 class="text-center" th:text="'Information for Product Identifier: '+${productModel.idntfr}"></h2>
            <div class="form-group">
                <label for="idntfr">Product Identifier</label>
                <input type="text" class="form-control"
                       id="idntfr" name="idntfr" th:field="*{idntfr}" readonly/>
            </div>
            <div class="form-group">
                <label for="label">Product Label</label>
                <input type="text" class="form-control"
                       id="label" name="label" th:field="*{label}" readonly/>
            </div>
            <div class="form-group">
                <label for="minAge">Minimum Owner Age</label>
                <input type="number" class="form-control"
                       id="minAge" name="minAge" th:field="*{minAge}" readonly/>
            </div>
            <div class="form-group">
                <label for="maxAge">Maximum Owner Age</label>
                <input type="number" class="form-control"
                       id="maxAge" name="maxAge" th:field="*{maxAge}" readonly/>
            </div>
            <div class="form-group">
                <label for="frequencyRule">Frequency</label>
                <select readonly multiple="multiple" class="form-control"
                        id="frequencyRule" name="frequencyRule">
                    <option disabled th:each="freq : ${T(com.insurance.ins.business.enums.Frequency).values()}"
                            th:value="${freq}" th:text="${freq.getFreqLabel()}" th:selected="${productModel.frequencyRule.contains(freq.toString())}"></option>
                </select>
            </div>
            <div class="text-center">
            <button type="submit" class="btn btn-secondary"><i class="fas fa-chevron-circle-left"></i> Return</button>
            </div>
        </form>

    </div>
</div>
<footer th:replace="~{fragments/layout :: site-footer}"></footer>
</body>
</html>