<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: site-head(pageTitle='Users Contract Log')">
    <title>Users Contract Log</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{fragments/layout :: site-header}"></header>
    <div class="container col-sm-4 align-content-center mt-3">
        <h2 class="text-center">Contract Table Logs</h2>
        <div class="container">
            <form th:method="GET" th:action="@{/users/log}" th:object="${searchUserModel}">

                <div class="form-group">
                    <label for="searchBy">Search By:</label>
                    <select class="form-control"
                            id="searchBy" name="frequency" th:field="*{searchBy}">
                        <option value="userId">User ID</option>
                        <option value="username">Username</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="criteria">Criteria</label>
                    <input type="text" class="form-control" id="criteria" th:value="*{criteria}"
                           name="criteria"
                           placeholder="Search by Criteria...">
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i> Search
                        </button>
                        <a class="btn btn-outline-secondary" th:href="@{/users/log}" type="submit"><i
                                class="fas fa-eraser"></i> Reset </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive-sm">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rev. ID</th>
                    <th scope="col">Contract ID</th>
                    <th scope="col">Type</th>
                    <th scope="col">On Date</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="log,index : ${logs}" th:object="${log}">
                    <tr>
                        <th scope="row" th:text="${index.count}"></th>
                        <td th:text="${log.id}"></td>
                        <td th:text="${log.contractId}"></td>
                        <td th:text="${log.modification}"></td>
                        <td th:text="${#temporals.format(log.modificationDate,'dd.MM.yyyy')}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:replace="~{fragments/layout :: site-footer}"></footer>
</div>
</body>
</html>