<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <title>Resident Evil</title>

</head>
<body>
<header th:replace="~{fragments/layout :: site-header}"></header>
    <div class="container-fluid">
           <div class="container col-sm-4 align-content-center">
               <h1>All Viruses</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Profile</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="user,index : ${users}" th:object="${user}">
                    <tr>
                        <th scope="row" th:text="${index.count}"></th>
                        <td th:text="*{username}"></td>
                        <td th:text="*{profile}"></td>
                        <td><a class="btn btn-secondary" th:href="@{/users/edit/{id}/(id=${user.id})}">Edit</a></td>
                        <td><a class="btn btn-secondary" th:href="@{/users/delete/{id}/(id=${user.id})}">Delete</a></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
<footer th:replace="~{fragments/layout :: site-footer}"></footer>
</body>
</html>