<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: site-head(pageTitle='User List')">
    <title>User List</title>
</head>
<body>

<div class="container-fluid">
    <header th:replace="~{fragments/layout :: site-header}"></header>
    <div class="container col-sm-4 align-content-center mt-3">
        <h2 class="text-center">Users List</h2>
        <div class="container">
            <form th:method="GET" th:action="@{/users}" th:object="${searchUserModel}">

                <div class="form-group">
                    <label for="searchBy">Search By:</label>
                    <select class="form-control"
                            id="searchBy" name="frequency" th:field="*{searchBy}">
                        <option value="userId">User ID</option>
                        <option value="username">Username</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="criteria">Criteria</label>
                    <input type="text" class="form-control" id="criteria" th:value="*{criteria}"
                           name="criteria"
                           placeholder="Search by Criteria...">
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i> Search
                        </button>
                        <a class="btn btn-outline-secondary" th:href="@{/users}" type="submit"><i
                                class="fas fa-eraser"></i> Reset </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive-sm">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Profile</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="user,index : ${users.getUsers()}" th:object="${user}">
                    <tr>
                        <th scope="row" th:text="${index.count}"></th>
                        <td th:text="*{id}"></td>
                        <td th:text="*{username}"></td>
                        <td th:text="*{profile}"></td>
                        <td><a th:href="@{/users/edit/{id}/(id=${user.id})}"><i class="fas fa-edit"
                                                                                title="Edit user"></i></a></td>
                        <td><a data-toggle="modal" th:attr="data-target='#'+${user.id}"
                               th:href="@{/users/delete/{id}/(id=${user.id})}"><i class="fas fa-trash-alt"
                                                                                  title="Delete user"></i></a></td>
                        <!-- Modal -->
                        <div class="modal fade" th:id="${user.id}" tabindex="-1" role="dialog"
                             aria-labelledby="deleteUserLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteUserLabel">This action can't be undone</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure to delete this user?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                                        </button>
                                        <a class="btn btn-primary" th:href="@{/users/delete/{id}/(id=${user.id})}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <nav>
            <ul class="pagination">

                <li class="page-item"><a class="page-link"
                                         th:if="${users.getUsers().hasPrevious()&& users.getUsers().hasContent()}"
                                         th:href="@{/users(searchBy=${searchUserModel.getSearchBy()},referenceId=${searchUserModel.getCriteria()},page=${users.getUsers().previousPageable().getPageNumber() + 1})}"><i
                        class="fas fa-angle-left"></i> Previous</a>
                </li>
                <li class="page-item"><a class="page-link" th:if="${users.getUsers().hasNext()}"
                                         th:href="@{/users(searchBy=${searchUserModel.getSearchBy()},criteria=${searchUserModel.getCriteria()},page=${users.getUsers().nextPageable().getPageNumber() + 1})}">Next
                    <i class="fas fa-angle-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
    <footer th:replace="~{fragments/layout :: site-footer}"></footer>
</div>
</body>
</html>