<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: site-head(pageTitle='Fatal Error')">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css"/>
    <title>Fatal Error</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{fragments/layout :: site-header}"></header>
    <h1 class="text-center text-danger" th:text="|ERROR: ${error}|"></h1>
</div>
</body>
</html>