<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: site-head">
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport"-->
    <!--content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="../../../static/css/bootstrap.css"/>

    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../../static/css/style.css">-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
    <!--integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
    <!--crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"-->
    <!--integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"-->
    <!--crossorigin="anonymous"></script>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
    <!--integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
    <!--crossorigin="anonymous"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"-->
    <!--integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"-->
    <!--crossorigin="anonymous"></script>-->
    <title>New Person</title>
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{fragments/layout :: site-header}"></header>
    <div class="container mt-4">
        <form class="my-4" th:object="${contractModel}" th:action="@{/contracts/edit/{id}/(id=${contractModel.id})}"
              th:method="post">
            <h2 class="text-center" th:text="'Validation Modification of Contract ID: '+${contractModel.id}"></h2>
            <div class="form-group">
                <label for="contractProductId">Product Identifier</label>
                <input type="text" class="form-control"
                       id="contractProductId" name="contractProductId" th:value="${contractProductId}" readonly/>
            </div>
            <div class="form-group">
                <label for="contractOwnerId">Owner ID</label>
                <input type="text" class="form-control"
                       id="contractOwnerId" name="contractOwnerId" th:value="${contractOwnerId}" readonly/>
            </div>
            <div class="form-group">
                <label for="distributor">Distributor ID</label>
                <input type="text" class="form-control"
                       id="distributor" name="distributor" th:field="*{distributor}" readonly/>
            </div>
            <div class="form-group">
                <label for="startDt">Contract Start Date</label>
                <input class="form-control" type="date" id="startDt" name="startDate" th:field="*{startDt}" readonly>
            </div>
            <div class="form-group">
                <label for="nextBillingDueDate">Next Billing Due Date</label>
                <input class="form-control" type="date" id="nextBillingDueDate" name="nextBillingDueDate"
                       th:field="*{nextBillingDueDate}" readonly>
            </div>
            <div class="form-group">
                <label for="duration">Contract Duration(in Years)</label>
                <input type="number" class="form-control"
                       id="duration" name="duration" th:field="*{duration}" readonly/>
            </div>
            <div class="form-group">
                <label for="frequencyShow">Frequency</label>
                <input type="text" class="form-control"
                       id="frequencyShow" name="frequencyShow" th:value="*{frequency.getFreqLabel()}" readonly/>
            </div>
            <input type="text" class="form-control"
                   id="frequency" name="frequency" th:field="*{frequency}" th:value="*{frequency}" hidden/>

            <div class="form-group">
                <label for="amount">Beneficiary Amount(in EUR)</label>
                <input type="number" class="form-control"
                       id="amount" name="amount" th:field="*{amount}" readonly/>
            </div>
            <div class="form-group">
                <label for="premimAmount">Premium Amount(in EUR)</label>
                <input type="number" class="form-control"
                       id="premimAmount" name="amount" th:field="*{premiumAmount}" readonly/>
            </div>
            <div class="text-center">
                <button type="submit" name="action" value="return" class="btn btn-secondary"><i
                        class="fas fa-chevron-circle-left"></i> Return
                </button>
                <button type="button" data-toggle="modal" th:attr="data-target='#'+${contractModel}"
                        class="btn btn-primary"><i class="fas fa-check-circle"></i> Validate
                </button>
            </div>
            <div class="modal fade" th:id="${contractModel}" tabindex="-1" role="dialog"
                 aria-labelledby="deleteUserLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteUserLabel">This action can't be undone</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure to save this contract?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button name="action" value="save" class="btn btn-primary" type="submit"
                            >Save
                            </button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>
<footer th:replace="~{fragments/layout :: site-footer}"></footer>
</body>
</html>